@mixin tableFormat {
    min-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
        background-color: #f8f8f8;
        display: table-header-group;
        vertical-align: middle;

        tr {
            th {
                padding: 16px 18px;
                font-size: 14px;
                color: #546377;
                white-space: nowrap;
            }

            ;
        }
    }

    tbody {
        tr {
            td {
                padding: 7px 12px 7px 18px;
                // white-space: r;
                background-color: #fff;
                border-top: 1px solid #fce8e8;
                border-bottom: 1px solid #e9e9e9;
            }
        }
    }
}

@mixin addButton {
    .add-button {
        margin-bottom: 40px;
        margin-top: 40px;
    }
}
